* {
    color: white;
}

#cadastro {
    margin-top: 100px;

}

#termos {
    font-size: 14px;
}

body {
    background-color: rgba(145, 39, 39, 0.829);
}

.bordaTabela {
    background-color: rgba(0, 0, 0, 0.527);
}

.bordaTabela {
    border-radius: 8px;
    border: 1px solid #0000005d;
    max-width: 300px;
    margin: 0 auto;
}

.container button {
    margin-bottom: 10px;
}